.quotes-container {
  padding-top: 120px;
  padding-bottom: 100px;
}

.quotes-image {
  height: 500px;
  object-fit: contain;
  cursor: pointer;
  object-position: 50% 50%;
  cursor: pointer !important;
}

.quotes-row {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quotes-image-title {
  color: #d9886a;
  font-size: 24px;
  margin-bottom: 8px;
}

.quotes-image-description {
  color: #f2ebee;
  font-size: 18px;
  margin-bottom: 8px;
}

.quotes-card {
  margin: 0 48px 48px 48px;
}

[data-rmiz-modal-overlay="visible"] {
  background-color: #0a1426;
}
