.about-root {
  background-color: #f2ebee;
}
.about-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  color: #0a1426;
  font-size: 24px;
  padding-top: 200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1.5fr repeat(3, 1fr);
}

.about-container div {
  max-width: 60ch;
  line-height: 1.2;
}
.about-photo {
  border-radius: 2%;
  width: 350px;
}
.profile-accent {
  font-family: "filmotype-wand", serif;
  color: #686ba6;
  font-size: 24px;
}
.adobe-icon {
  width: 80px;
  padding: 10px;
}
@media only screen and (max-width: 1537px) {
  .about-container {
    width: 85%;
    font-size: 18px;
  }
  .about-photo {
    width: 70%;
    height: 50%;
  }
}
