.capio-container {
  width: 1900px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 450px repeat(2, 1fr);
  grid-template-rows: 0.5fr 4fr;
  grid-gap: 2%;
}

/*.capio-identity-elements {
  padding-right: 60px;
  text-align: center;
  margin-bottom: 2%;
}*/

.capio-icon {
  width: 85px;
  height: auto;
  margin-right: 24px;
}
.capio-logo {
  width: 300px;
  height: auto;
}

.capio-description {
  color: #f2ebee;
  font-size: 18px;
  max-width: 60ch;
}

.capio-stationary {
  grid-column: 2/4;
}

.capio-stationary-img {
  width: 1400px;
}

.cards-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flip-it {
  color: #f2ebee;
  font-size: 38px;
}
.capio-card {
  width: 250px;
  height: auto;
}

.capio-card:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1537px) {
  .capio-container {
    width: 1400px;
  }

  .capio-stationary-img {
    width: 900px;
  }
}
@media only screen and (max-width: 1366px) {
  .capio-container {
    width: 1200px;
    grid-gap: 1%;
  }
  .capio-icon {
    width: 65px;
    height: auto;
    margin-right: 24px;
  }
  .capio-logo {
    width: 250px;
    height: auto;
  }
  .capio-description {
    font-size: 14px;
  }
  .capio-card {
    width: 150px;
  }
  .capio-stationary-img {
    width: 800px;
  }
}
