.photobook-details {
  padding-top: 150px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(2, 0.5fr);
  grid-column-gap: 1%;
  grid-row-gap: 5%;
  align-items: center;
}
.icon-597 {
  align-self: start;
  justify-self: end;
  grid-row: 1/-1;
}
.logo-597 {
  width: 60%;
}

.photobook-info {
  color: #f2ebee;
  font-size: 24px;
  font-weight: 200;
  max-width: 50ch;
  line-height: 1.2;
}

.photobook-page-slide-image {
  width: 100%;
  height: 100vh;
  object-fit: contain;
}

/* Swiper overwrite styles */
.swiper-button-next,
.swiper-button-prev {
  color: #686ba6;
}

.swiper-pagination-bullet-active {
  background: #d9886a;
}
